/* Google fonts */

/* latin */
@font-face {
  font-family: 'Arbutus Slab';
  font-style: normal;
  font-weight: 400;
  src: local('Arbutus Slab'), local('ArbutusSlab-Regular'), url(https://fonts.gstatic.com/s/arbutusslab/v4/6k3Yp6iS9l4jRIpynA8qMxampu5_7CjHW5spxoeN3Vs.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
/* latin */
@font-face {
  font-family: 'Droid Serif';
  font-style: normal;
  font-weight: 400;
  src: local('Droid Serif'), local('DroidSerif'), url(https://fonts.gstatic.com/s/droidserif/v6/0AKsP294HTD-nvJgucYTaIgp9Q8gbYrhqGlRav_IXfk.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
/* latin */
@font-face {
  font-family: 'Droid Serif';
  font-style: italic;
  font-weight: 400;
  src: local('Droid Serif Italic'), local('DroidSerif-Italic'), url(https://fonts.gstatic.com/s/droidserif/v6/cj2hUnSRBhwmSPr9kS589weOulFbQKHxPa89BaxZzA0.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
/* latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v15/oMMgfZMQthOryQo9n22dcuvvDin1pK8aKteLpeZ5c0A.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
/* latin */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 400;
  src: local('Roboto Italic'), local('Roboto-Italic'), url(https://fonts.gstatic.com/s/roboto/v15/vPcynSL0qHq_6dX7lKVByXYhjbSpvc47ee6xR_80Hnw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
/* latin */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 700;
  src: local('Roboto Bold Italic'), local('Roboto-BoldItalic'), url(https://fonts.gstatic.com/s/roboto/v15/t6Nd4cfPRhZP44Q5QAjcC4gp9Q8gbYrhqGlRav_IXfk.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
/****** Bootstrap overrides *******/

/* navbar */

.navbar {
	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.5);
}

/*specifically instructed to inspect the element of original for this override*/
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
	color: #37c2aa;
    background-color: #f8f8f8;
}

/*specifically instructed to inspect the element of original for this override*/
@media (min-width: 768px) {
	.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
    	margin-left: 0;
	}	
}

/***** General rules *****/

html {
	font-size: 16px;
}

body {
	background-color: #f8f8f8;
}

/***** Custom CSS *****/

/* Navbar */

.navbar-default .navbar-nav>li>a {
	font-family: "Roboto", sans-serif;
	font-size: 0.875rem;
    color: #4a4a4a;
}

/* Jumbotron */

.jumbotron {
	background-image: url("https://s3.amazonaws.com/codecademy-content/programs/freelance-one/unit-7/adhoc/jumbotron.png");
	background-size: cover;
	height: 43.5rem;
	margin-top: 50px;
	text-align: center;
}

.jumbotron h1 {
	background-color: #d404af;
	color: white;
	font-family: "Arbutus Slab", serif;
	font-size: 3.75rem;
	margin-top: 17rem;
}

.jumbotron p {
	font-family: "Roboto", sans-serif;
	font-size: 1.25rem;
	background-color: #f5cb07;
}

@media only screen and (max-width: 770px) {
	.jumbotron {
		margin-top: 10.9375rem;
		height: 33.5rem;
	}

	.jumbotron h1 {
		margin-top: 10rem;
		font-size: 2.75rem;
	}

	.jumbotron p {
		font-size: 1rem;
	}
}

/* Quotation Citation */

.quote {
	margin-top: 7rem;
	width: 83%;
}

#quotation {
	font-family: "Droid Serif", serif;
	font-size: 1.5rem;
	font-style: italic;
	color: #4a4a4a;
	line-height: 1.3;
}

#citation {
	font-family: "Roboto", sans-serif;
	font-size: 0.875rem;
	font-style: italic;
	line-height: 1.4;
}

#citation span {
	font-weight: bold;
}

@media only screen and (max-width: 770px) {
	.quote {
		margin-top: 4rem;
	}
}
/* Why */

.why {
	border-top: 1px solid #d4d5d6;
	margin-top: 9.25rem;
	text-align: center;
}

.why h3 {
	font-family: "Arbutus Slab", serif;
	font-size: 3rem;
	position: relative;
	bottom: 3rem;
}

.why h3 span {
	background-color: #f8f8f8;
	z-index: 10;
	padding: 0 1.25rem;
}

.why-logos {
	margin-top: 2.25rem;
	/*padding: 1rem;*/
}

@media only screen and (max-width: 770px) {
	.why {
		margin-top: 5.25rem;
	}

	.why h3 {
		font-size: 2rem;
		bottom: 2.375rem;
	}
}

/* Meet the team */

.meet {
	background-color: #4a4a4a;
	margin-top: 3rem;
	text-align: center;
}

.meet h3 {
	margin-top: 5.5rem;
	font-family: "Arbutus Slab", serif;
	font-size: 3rem;
	color: white;
}

.staff {
	margin-top: 3.375rem;
	margin-bottom: 7.25rem;
}

.staff strong {
	margin-top: 2rem;
}

.staff strong, .staff span {
	display: block;
	color: white;
}

/* Current clients */

.client {
	border-top: 1px solid #d4d5d6;
	margin-top: 5.25rem;
	text-align: center;
}

.client h3 {
	font-family: "Arbutus Slab", serif;
	font-size: 3rem;
	position: relative;
	bottom: 3rem;
}

.client h3 span {
	background-color: #f8f8f8;
	z-index: 10;
	padding: 0 1.25rem;
}

.client-logos {
	margin-top: 5.5rem;
	margin-bottom: 5rem;
}

@media only screen and (max-width: 770px) {
	.client h3 {
		font-size: 2rem;
		bottom: 2.375rem;
	}
}

/* Footer */

footer {
	background-color: #e9ebeb;
	text-align: center;
}

.fa-icons {
	padding-top: 2.625rem;
}

.copyright {
	margin-top: 1.5rem;
	padding-bottom: 2rem;
}

.copyright span {
	font-size: 0.75rem;
	color: #212123;
}